html,
body {
  font-family: 'Rubik', sans-serif;
  background-color: #202020
}

.ui.inverted.top.fixed.menu {
  background: black;
}

.ui.white.fluid.vertical.tabular.menu {
  background: grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: -webkit-center;
}
