html,
body {
  font-family: 'Rubik', sans-serif;
  background-color: #202020
}

.ui.inverted.top.fixed.menu {
  background: black;
}

.ui.white.fluid.vertical.tabular.menu {
  background: grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 300px;
  text-align: -webkit-center;
}
.slide-in-memo {
  position: absolute;
  right: -195%;
  top: 44%;
  transition: transform 1s ease-in-out;
}

.show-memo {
  transform: translateX(-490%);
  width: 50%;
}

.red-text{
  color: red;
  font-size: large;
}
.teal-text{
  color: teal;
}

.game-button{
  display: block;
  width: -webkit-fill-available;
}

.game-button:nth-child(even){
  background-color: rgb(120, 197, 197);
}

.game-button li{
  list-style-type: none;
}

.content-wrapper{
  text-align: -webkit-center;
}
.button-wrapper{
  text-align: -webkit-center;
  height: 100%;
  max-height: 500px;
  overflow: auto;
}
.landing {
  background-image: 
  url(
"https://user-images.githubusercontent.com/114713151/229315857-d58df1a2-af58-4f0d-81df-2e3e57440834.jpg");
  background-size: 100%;
  opacity: 90%;
  width: 100%;
  height: 550px;
  margin-top: 7px;
  font-size: 20px;
  background-repeat:no-repeat; 
  text-align: center;
padding-top: 180px;

}

.landing p{
  color: white;
  text-align:justify style;
  background-color: rgb(27, 27, 27);
 opacity: 0.9;
border-radius:4px;
padding:15px;
margin:5px;
}



